<div class="row">
    <form action="/items/search" method="post">
        <label for="itemSearch">Search</label>
        <input name="itemSearch" class="ml-2" type="text" placeholder="Item barcode">
        <button class="btn btn-outline-success py-2 ml-3">Search</button>
    </form>
</div>